*{margin: 0;
  padding: 0;
  background-color: rgb(255, 247, 0);
  background-color: rgb(254, 244, 60);}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}
.notes{
  display: flex;
  flex-direction: row;
}
.item{
  display: flex;
  flex-direction: column;
  height: 90px;
  border: solid black 1px;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 5%;
  background-color: rgb(132, 255, 0);
}
.item h2{
  background-color: rgb(0, 0, 0, 0);
}
.item h3{
  color: rgb(34, 34, 34);
  background-color: rgb(0, 0, 0, 0);
}
.item #data{
  color: rgb(116, 115, 93);
  background-color: rgb(0, 0, 0, 0);
}
.item #add{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(252, 234, 34);
  border-radius: 20px;
}
#text{
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0);
  
}
.signs{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0, 0);
  color: blue;
}
.fa-trash{
  border: solid black 1px;
  width: 100%;
  padding: 3px;
  border-radius: 20%;
}
.fa-thumbtack{
  border: solid black 1px;
  width: 100%;
  padding: 3px;
  border-radius: 20%;
}
.fa-pen{
  border: solid black 1px;
  width: 100%;
  padding: 3px;
  border-radius: 20%;
}
.done{
  text-decoration: line-through;
 background-color: rgb(255, 150, 150);
}
.done .signs{
  text-decoration: line-through;
 color: rgb(247, 87, 87);
}
.overlay{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(203, 194, 25, 0.199);
  backdrop-filter: blur(5px);
  display: none;
}
.window{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
  width: 100%;
  max-width: 500px;
}

.window input{
  border-radius: 5px;
  padding: 5px;
}
.window textarea{
  border-radius: 5px;
}
.window .buttonos{
  display: flex;
  gap: 5px;
}
#change{
  flex-grow: 1;
}


